.profileDiv:hover {
    cursor: pointer !important;
}

.profileDiv {
    display: inline;
}

.username {
    margin-left: 0.65rem;
    cursor: pointer !important;
}

.mainDiv:hover {
    background-color: white;
}